body{
    background-color: #3B3838;
}

header{
    color: white;
    font-size: 40px;
    width: 400px;
    grid-row: 3;
    grid-column: 10;
    font-family: Biome Light;
}

.wrapper{
    height: 2200px;
    width: 100%;    
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(55, 40px);
    margin: auto;
}

.fn{
    width: 950px;
    height: 500px;
    border-radius: 60px;
    grid-column: 10;
    grid-row: 6;
}

.fortnitetext1 {
    color: white;
    width: 950px;
    grid-row: 19;
    grid-column: 10;
    height: 300px;
    font-size: 25px;
}

.fn2{
    grid-row: 24;
    grid-column: 10;
    width: 950px;
    height: 500px;
    border-radius: 60px;
    border: 5px solid rgb(216, 78, 235);
}   